{{ define "main" }}
  {{ $url := .Params.content.iframe_website }}
  {{ if .Params.content.direct_link }}
    {{ $url = .Params.content.website }}
  {{ end }}
  <section>
    <div class="p-4 mt-10 w-full">
      <div class="w-full grid gap-16 items-center sm:grid-cols-[1fr_1.3fr]">
        <div>
          <div class="flex items-center gap-5">
            <div class="bg-white isolate bg-opacity-30 p-2 rounded-lg">
              <img
                src="{{ .Params.content.logo }}"
                alt="{{ .Title }} logo"
                style="width: 90px; aspect-ratio: 1; object-fit: contain" />
            </div>

            <h1 class="text-xl font-extrabold">
              <span
                class="text-4xl bg-gradient-to-r from-[#ff80b5] to-[#9089fc] bg-clip-text text-transparent">
                {{ .Params.content.name }}
              </span>
              <br />
              fully managed by OctaByte
            </h1>
          </div>

          <div class="ml-4">
            <p class="mt-2 text-base">
              {{ .Params.content.description }}
            </p>
            <p class="mt-4">
              Start free {{ .Params.content.name }} trial with OctaByte. Simple
              no-tricks Pricing, Scalable &amp; Secure, just in
              <span
                class="bg-gradient-to-r font-extrabold from-[#ff80b5] to-[#9089fc] bg-clip-text text-transparent">
                $9.
              </span>
            </p>
            <div class="flex items-center justify-start gap-3 my-5 flex-wrap">
              <a
                href="/start-trial?service={{ .Params.content.name }}"
                class="rounded-md isolate bg-gradient-to-r from-[#ff80b5] to-[#9089fc] px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:opacity-70 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
                Start Free Trial
              </a>

              <a
                href="{{ $url }}"
                target="_blank"
                class="rounded-md isolate bg-gray-900 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:opacity-70 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2">
                {{ .Params.content.name }} website
              </a>
            </div>
          </div>
        </div>

        <div
          class="-m-2 lg:mr-2 rounded-xl bg-gray-900/5 p-2 ring-1 ring-inset ring-gray-900/10 lg:-m-4 lg:rounded-2xl lg:p-4">
          <img
            class="rounded-md shadow-2xl relative ring-1 ring-gray-900/10"
            src="{{ index .Params.content.screenshots 0 }}"
            alt="{{ .Params.content.name }} dashboard"
            width="100%" />
        </div>
      </div>
    </div>
  </section>

  <section class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:text-center">
        <h2
          class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          Benefits of Fully Managed {{ .Params.content.name }} by
          <span
            class="bg-gradient-to-r from-[#ff80b5] to-[#9089fc] bg-clip-text text-transparent">
            OctaByte
          </span>
        </h2>
        <p class="mt-6 text-lg leading-8 text-gray-600">
          Deploy a fully managed
          <a class="font-extrabold" href="{{ $url }}" target="_blank">
            {{ .Params.content.name }}
          </a>
          instance for just
          <span class="font-extrabold">$9.</span>

          Let OctaByte handle installation, configuration, encryption, security,
          backups, live monitoring, and software & OS updates—so you can focus
          on your work stress-free.
        </p>
      </div>
      <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
        <dl
          class="grid max-w-xl grid-cols-1 gap-y-10 gap-x-8 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
          {{ with .Site.GetPage "home" }}
            {{ range .Params.features.features }}
              <div class="relative pl-16">
                <dt class="text-base font-semibold leading-7 text-gray-900">
                  <div
                    class="absolute top-0 left-0 flex h-10 w-10 items-center justify-center rounded-lg bg-gradient-to-r from-[#ff80b5] to-[#9089fc]">
                    {{ partial "utils/icon" (dict "name" .icon "class" "h-6 w-6 text-white") }}
                  </div>
                  {{ .title }}
                </dt>
                <dd class="mt-2 text-base leading-7 text-gray-600">
                  {{ .description }}
                </dd>
              </div>
            {{ end }}
          {{ end }}
        </dl>
      </div>
    </div>
  </section>

  <section id="features">
    <div class="bg-white py-24">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl sm:text-center">
          <h2
            class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
            {{ partial "utils/highlight" (printf "Key features of '%s'" .Params.content.name) }}
          </h2>
        </div>
      </div>
      <div class="relative overflow-hidden pt-16">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
          <div
            class="rounded-xl bg-gray-900/5 p-2 ring-1 ring-inset ring-gray-900/10 lg:-m-4 lg:rounded-2xl lg:p-4">
            <img
              src="{{ index .Params.content.screenshots 1 }}"
              alt="App screenshot"
              class="mb-[-12%] rounded-md shadow-2xl relative ring-1 ring-gray-900/10" />
          </div>

          <div class="relative" aria-hidden="true">
            <div
              class="absolute -inset-x-20 bottom-0 bg-gradient-to-t from-white pt-[7%]"></div>
          </div>
        </div>
      </div>
      <div class="mx-auto mt-16 max-w-7xl px-6 sm:mt-20 md:mt-24 lg:px-8">
        <dl
          class="mx-auto grid max-w-2xl grid-cols-1 gap-x-6 gap-y-10 text-base leading-7 text-gray-600 sm:grid-cols-2 lg:mx-0 lg:max-w-none lg:grid-cols-3 lg:gap-x-8 lg:gap-y-16">
          {{ range .Params.content.features }}
            <div class="relative pl-9">
              <dt class="inline font-semibold text-gray-900">
                <svg
                  class="absolute top-1 left-1 h-5 w-5 text-indigo-600"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z"
                    clip-rule="evenodd"></path>
                </svg>
                {{ .title }}
              </dt>
              <dd class="inline">
                {{ .description }}
              </dd>
            </div>
          {{ end }}
        </dl>
      </div>
    </div>
  </section>

  <section id="get-started-trial">
    {{ $title := printf "Start your %s trial now!" .Params.content.name }}
    {{ $description := printf "Easily deploy and manage your %s instance with just a click." .Params.content.name }}
    {{ $url := printf "/start-trial?service=%s" .Params.content.name }}
    {{ $button := (dict "label" "Get Started Free Trial" "url" $url) }}
    {{ partial "home/cta" (dict "title" $title "description" $description "button" $button ) }}
  </section>
{{ end }}
