{{ define "main" }}
  <div class="bg-white">
    <main class="mx-auto w-full max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-xl py-16 sm:py-24">
        <div class="text-center">
          <p class="text-base font-semibold text-indigo-600">404</p>
          <h1
            class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">
            This page does not exist.
          </h1>
          <p class="mt-2 text-lg text-gray-500">
            The page you are looking for could not be found.
          </p>
        </div>
      </div>
    </main>
  </div>
{{ end }}
