{{ define "main" }}
{{ partial "home/hero" .Params.hero }}
{{ partial "home/top-applications" .Params.top_applications}}
{{ partial "home/features" .Params.features }}
{{ partial "home/pricing" .Params.pricing }}
{{ partial "home/faq" .Params.faq }}
{{ partial "home/cta" .Params.cta }}
  <!-- Features Section -->
  {{/*  {{ with .Site.Data.home.features }}
    {{ partial "sections/features" . }}
  {{ end }}  */}}


  <!-- CTA -->
  {{/*  {{ with .Site.Data.home.cta }}
    {{ partial "sections/cta" . }}
  {{ end }}  */}}

{{ end }}
